.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal__container {
  position: relative;
  box-sizing: border-box;
  width: 430px;
  padding: 34px 36px 28px;
  background-color: #fff;
  border-radius: 16px;
}

.modal__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background: transparent;
  color: #fff;
  font-size: 40px;
  line-height: 40px;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 22px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  color: #1a1b22;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .modal {
    align-items: flex-end;
  }

  .modal__container {
    width: 100%;
    min-height: calc(100vh - 64px);
    box-sizing: border-box;
    padding: 32px;
    border-radius: 24px 24px 0 0;
  }

  .modal__close {
    top: -50px;
    right: 24px;
  }
}
